@use 'variables' as *;

@mixin font-odibee($size: false, $color: false, $weight: false, $lh: false) {
    font-family: $fontfamily-odibee;
    text-transform: uppercase;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin font-press-start($size: false, $color: false, $weight: false, $lh: false) {
    font-family: $fontfamily-press-start;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin font-source($size: false, $color: false, $weight: false, $lh: false, $all-caps:false) {
    font-family: $fontfamily-source;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $all-caps { text-transform: uppercase;}
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  @include font-source($fontsize-body, $body-color);
}

h1 {
  @include font-odibee($fontsize-body, $purple);
  margin-top:.5em;
  margin-bottom:0;
}

h2 {
  @include font-odibee($fontsize-mainheading, black);
  margin-top:.3em;
  margin-left:50px;
  margin-right:50px;
  text-align: center;
}

h3 {
  @include font-press-start($fontsize-subheading, $lightblue);
}

h4 {
  @include font-source($fontsize-sidebarheading, black);
}

a {
  //@include uppercase($orange);
  text-decoration: none;
  &:hover {
    color: darken($orange, 10%);
    font-style: italic;
  }

  &:visited {
    color: darken($orange, 20%);
  }
}


.page-wrapper {
  width: 100%;


  @include for-desktop-up {    
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
  }
}
