@use 'variables' as *;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin:0;
  @include font-source($fontsize-body, $body-color);
}

/* Main title "CSS ZEN GARDEN" */
h1 {
  @include font-odibee($fontsize-body, $purple);
  text-align: center;
}

/* Subtitle */
h2 {
  @include font-odibee($fontsize-mainheading, black);
  text-align: center;
}

/** Intro Paragraph **/
.summary {

  p:first-of-type {
    margin: 0 $tetris-block-size*2+30px 1rem $column-size;
  }

  p:last-of-type {
    width:100%;
    text-align: center;
  }

}



h4 {
  @include font-source($fontsize-sidebarheading, black);
}

a {
  text-decoration: none;
  &:hover {
    color: darken($orange, 10%);
    font-style: italic;
  }

  &:visited {
    color: darken($orange, 20%);
  }
}

p {
  margin:0;
  padding-top:.5em;
}

footer {
  a {
    height:3rem;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    background-position: left center;
    background-repeat: no-repeat;
    //width: 6rem;
    margin:1rem;
    text-align: center;
  }

  a:nth-child(1){
    padding-left: 1rem;
    background-image: tetris-bar($lightblue, 1rem);
    background-size: 3rem 3rem;
  }

  a:nth-child(2){
    padding-left: 2.6rem;
    background-image: tetris-z($green, 1rem);
    background-size: 3rem 3rem;
  }

  a:nth-child(3){
    padding-left: 2rem;
    background-image: tetris-l($orange, 1rem);
    background-size: 3rem 3rem;
  }
  a:nth-child(4){
    padding-left: 2rem;
    background-image: tetris-square($red, 1rem);
    background-size: 3rem 3rem;
  }    

  a:nth-child(5){
    padding-left: 2.6rem;
    background-image: tetris-t($purple, 1rem);
    background-size: 3rem 3rem;
  } 
}

.page-wrapper {
  width: 100%;

  @include for-desktop-up {
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
  }
}

//Sidebar Atoms
aside.sidebar {
  //Headings
  h3 {
    @include font-source($fontsize-sidebarheading, $darkblue);
    text-align: center;
    &::after {
      @include accent-header-line($darkblue);
    }
  }
  //Archives Nav and Titles
  .design-name, .next, .viewall {
    @include font-source($fontsize-sidebarsubheading-allcaps, $all-caps: true);
    font-style: normal;
    &:hover {
      font-style: italic;
    }
  }
  .design-name::after {
    content: "\a";
    white-space: pre;
  }
  //Authors
  .designer-name {
    font-size: 11pt;
  }
  //General Sidebar Body Text
  text-align: center;
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
    }
  }
  //Links
  a {
    color: $darkblue;
    &:visited {
      color: $purple;
    }
    &:hover {
      color: $lightblue;
    }
    &:active {
      color: $green;
    }
  }
}