@use 'variables' as *;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin:0;
  @include font-source($fontsize-body, $body-color);
}

/* Main title "CSS ZEN GARDEN" */
h1 {
  @include font-odibee($fontsize-body, $purple);
  text-align: center;
}

/* Subtitle */
h2 {
  @include font-odibee($fontsize-mainheading, black);
  text-align: center;
}

/** Intro Paragraph **/
.summary {

  p:first-of-type {
    margin: 0 $tetris-block-size*2+30px 1rem $column-size;
  }

  p:last-of-type {
    width:100%;
    text-align: center;
  }

}



h4 {
  @include font-source($fontsize-sidebarheading, black);
}

a {
  text-decoration: none;
  &:hover {
    color: darken($orange, 10%);
    font-style: italic;
  }

  &:visited {
    color: darken($orange, 20%);
  }
}

p {
  margin:0;
  padding-top:.5em;
}

.page-wrapper {
  width: 100%;

  @include for-desktop-up {
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
  }
}
