@use 'variables' as *;

@keyframes colorchange {
  0% {
    color: $darkblue;
  }

  20% {
    color: $lightblue;
  }

  40% {
    color: $green;
  }

  60% {
    color: $orange;
  }

  80% {
    color: $red;
  }

  100% {
    color: $purple;
  }
}

/* Header */
header[role='banner'] {
  //display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: tetris-l-90($lightblue), tetris-reverse-l($green);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: $tetris-block-size*3, $tetris-block-size*3;
  height: 14rem;
  margin-left:1rem;
  margin-right:1rem;

  h1 {
    padding-top: $tetris-block-size; //3.2rem;
    margin-bottom:0;
  }

  h2 {
    margin-top:0;
    margin-left:$tetris-block-size;
    margin-right:$tetris-block-size;
    margin-bottom: 0;
    animation: colorchange 5s infinite alternate;
  }
}

/** Summary section **/
.summary {
  margin-top:-$tetris-block-size;
  margin-left:1rem;
}

.preamble {
  @include section($purple);
  margin-left:1rem;
  padding-top:1em;
  padding-left:140px;
  margin-top:1em;
  background-image: tetris-t-90($orange);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: $tetris-block-size*3;
}

.explanation {
  @include section($green);
  padding-top:1em;
  padding-bottom:1em;
}

.participation {
  @include section($orange);
  background-color: black;
  padding-top:1em;
  p {
    @include font-source($fontsize-body, $body-color-light);
  }
}

.benefits {
  @include section($yellow);
  background-color: black;
  padding-top:1em;
  p {
    @include font-source($fontsize-body, $body-color-light);
  }  
}

.requirements {
  @include section($darkblue);

  padding-top:1em;
}

footer {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
