@use 'variables' as *;

/* Header */
header[role='banner'] {
  //display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: tetris-l($lightblue, $tetris-block-size),url('/assets/reverse-l-40.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: $tetris-block-size*3 $tetris-block-size*3, $tetris-block-size*2 $tetris-block-size*3;
  height: 14rem;
  margin-left:1rem;
  margin-right:1rem;

  h1 {
    padding-top: $tetris-block-size; //3.2rem;
    margin-bottom:0;
  }

  h2 {
    margin-top:0;
    margin-left:$tetris-block-size;
    margin-right:$tetris-block-size;
    margin-bottom: 0;
  }
}

/** Summary section **/
.summary {
  margin-top:-$tetris-block-size;
  margin-left:1rem;
}

.preamble {
  @include section($lightblue);
  margin-left:1rem;
  padding-top:1em;
  padding-left:140px;
  margin-top:1em;
  background-image: url('/assets/t.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: $tetris-block-size*2 $tetris-block-size*3;
}

.explanation {
  @include section($green);
  padding-top:1em;
  padding-bottom:1em;
}

.participation {
  @include section($orange);
  background-color: black;
  padding-top:1em;
  p {
    @include font-source($fontsize-body, $body-color-light);
  }
}

.benefits {
  @include section($yellow);
  background-color: black;
  padding-top:1em;
  p {
    @include font-source($fontsize-body, $body-color-light);
  }  
}

.requirements {
  @include section($darkblue);

  padding-top:1em;
}
